@font-face {
    font-family: nato sans;
    src: url(./Noto_Sans/NotoSans-Regular.ttf), url(./Noto_Sans/NotoSans-Italic.ttf), url(./Noto_Sans/NotoSans-Bold.ttf), url(./Noto_Sans/NotoSans-BoldItalic.ttf);
  }

  body{
      font-family: nato sans;
  }

.nav-bg{
    background-color: #FA815B;
}

.social-media-header{
	color:#FA815B;
    &:hover{
        color: #333333;
    }
}

.social-media-footer{
	color:#FFFFFF;
    &:hover{
        color: #FA815B;
    }
}

.section-head{
    font-size: 36px;
    font-weight: bold;
}

.section-subHead{
    font-size: 18px;
}

.section-desc{
    font-size: 18px;
    font-weight: normal;
}

.box-section{

    &:hover{
        background-color: #FA815B;
        .box-icons{
            svg{
                color: #FFFFFF;
            }    
        }
        
        .box-heading{
            color: #FFFFFF;
        }
        .box-desc{
            color: #FFFFFF;
        }
        .readMore{
            a{
                color: #FFFFFF;
            }
            
        }
    }
    .box-heading{
        font-weight: bold;
        font-size: 24px;
        color: #FA815B;
    }
    .box-desc{
        color: black;
    }
    .box-icons{
        svg{
            color: #FA815B; 
        }    
    }
    .readMore{
        font-size: 14px;
        a{
        color: #FA815B;
        text-decoration: underline;
        &:hover{
            color: #FFFFFF;
            text-decoration: none;
        }
        }
        
    }
}

.testi-bg{
    background: url("../images/testimonial.jpg") center bottom no-repeat;
}
.testi-content{
    background-color: #FAB89D;
    background-image: url("../images/quote.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.testiCircle{
    height: 120px;
    width: 120px;
    background-color: #333333;
    border: 2px solid white;
    img{
        border-radius: 100px;
    }
}

.testimonial{
    font-size: 16px;
    line-height: 24px;
    color: black;
    min-height: 120px;
}
.testiName{
    font-size: 18px;
    font-weight: bold;
}
.testiLocation{
    font-size: 18px;
    font-weight: normal;
}

.capabilities{
    background-color: #F3F3F3;
}

.footer-logo{
    img{
        width: 70%;
    }
}

.address{
    h4{
        font-size: 24px;
        color: #FA815B;
        font-weight: bold;
    }
    address{
        color: #FFFFFF;
    }
}

.important-links{
    h4{
        font-size: 24px;
        color: #FA815B;
        font-weight: bold;
    }
    ul{
        margin: 0;
        padding: 0;
        li{
            list-style: none;
            line-height: 36px;
            a{
                color: #FFFFFF;
                text-decoration: none;
                &:hover{text-decoration: underline;}
            }
        }
    }
}

.journey{
    h4{
        font-size: 24px;
        color: #FA815B;
        font-weight: bold;
    }
    .btn-danger{
        color: #FFFFFF;
        background-color: #FA815B;
        border-color: #FA815B;
        &:hover{
            background-color: #cf4a22;
            border-color: #cf4a22;
        }
    }
}

.banner-heading{
    font-size: 36px;
    color: #FA815B;
    font-weight: bold;
    .banner-desc{
        font-size: 18px;
        color: #333333;
    }
}
.sketch{
    background: url("../images/sketch.png") no-repeat right center;
    background-size: auto 90%;
    border-top-right-radius: 12px;
    background-color: #EE632A;
    
    .step1{
        font-size: 200px;
        font-weight: bold;
        color: white;
        opacity: .6;
        line-height: 200px;
        display: inline-block;
    }
    .step1name{
        font-size: 50px;
        font-weight: bold;
        color: white;
        opacity: .6;
        display: inline-block;
    }
}

.sneak{
    background: url("../images/sneak.png") no-repeat right center;
    background-size: auto 90%;
    border-top-right-radius: 12px;
    background-color: #B65C09;
    
    .step2{
        font-size: 200px;
        font-weight: bold;
        color: white;
        opacity: .6;
        line-height: 200px;
        display: inline-block;
    }
    .step2name{
        font-size: 50px;
        font-weight: bold;
        color: white;
        opacity: .6;
        display: inline-block;
    }
}

.knock{
    background: url("../images/knock.png") no-repeat right center;
    background-size: auto 100%;
    border-top-right-radius: 12px;
    background-color: #E69371;
    
    .step3{
        font-size: 200px;
        font-weight: bold;
        color: white;
        opacity: .6;
        line-height: 200px;
        display: inline-block;
    }
    .step3name{
        font-size: 50px;
        font-weight: bold;
        color: white;
        opacity: .6;
        display: inline-block;
    }
}


.bg-orange{
    background-color: #FAB89D;
}

.form-head{
    font-size: 28px;
    font-weight: bold;
    color:  #FA815B;
}
.form-content{
    font-size: 18px;
    color: #333333;
}
.form-feild{
    height:50px;
    display: inline;
    input[type="text"]{
        height: 48px;
        padding: 0 16px;
        box-sizing: border-box;
        border-radius: 8px;
        border:1px solid #C2C2C2;
        width: 400px;
        outline-color: #FA815B;
    }

    input[type="file"]{
        height: 48px;
        padding: 0 16px;
        box-sizing: border-box;
        border-radius: 8px;
        width: 400px;
    }

    select{
        height: 48px;
        box-sizing: border-box;
        border-radius: 8px;
        border:1px solid #C2C2C2;
        width: 400px;
        padding: 0 20px;
        outline-color: #FA815B;
    }

    label{
        clear: both;
        display: block;
        margin-bottom: 10px;
    }
}

.submitContainer{
    .submit, .reset{
        background-color: #FA815B;
        color: white;
        font-size: 18px;
        outline: none;
        border: none;
        border-radius: 8px;
        padding: 16px;
        margin-right: 16px;
    }
}

.border-radius{border-radius: 12px;}

.dropdown-menu{    
        li{
        padding: 8px 0;
        border-bottom: 1px solid #FFFFFF;
        background-color: #FA815B;
        a{color:#FFFFFF;}
        a:hover{background-color: unset;}
        &:last-child{
            border-bottom: none;
        }
        &:hover{
            background-color: #FFFFFF;
            color: #000000;
            a{color: #000000;}
        }

        }
  
}

.copyright{
    span{font-size: 13.75px;}
}

.chart{
    color:  #FA815B;
    &:hover{
        color: #000000;
    }
}



.mt-6{
    margin-top: 4rem !important;
}
.mt-7{
    margin-top: 5rem !important;
}
.mt-8{
    margin-top: 6rem !important;
}

.p-6{
    padding: 4rem !important;
}

.pt-6{
    padding-top: 4rem !important;
}

.pt-7{
    padding-top: 5rem !important;
}

.pt-8{
    padding-top: 6rem !important;
}
.pb-6{
    padding-bottom: 4rem !important;
}

.pb-7{
    padding-bottom: 5rem !important;
}

.pb-8{
    padding-bottom: 6rem !important;
}




@media only screen and (max-width: 576px) {
    .testi-bg{
        min-height: 500px;
    }
}