@font-face {
    font-family: nato sans;
    src: url(./Noto_Sans/NotoSans-Regular.ttf), url(./Noto_Sans/NotoSans-Italic.ttf), url(./Noto_Sans/NotoSans-Bold.ttf), url(./Noto_Sans/NotoSans-BoldItalic.ttf);
  }

  body{
      font-family: nato sans;
  }


.navbar-nav{
    text-transform: uppercase;
    font-weight: 600;
}

.nav-bg{
    background-color: #FA815B;
}

.icon-color{
    color: #FA815B;
}

.social-media-header{
	color:#FA815B;
    &:hover, &:active{
        color: #333333;
    }
    &:visited{
        color:#FA815B;
    }
}

.social-media-footer{
	color:#FFFFFF;
    &:hover, &:active{
        color: #FA815B;
    }
    &:visited{
        color:#FFFFFF;
    }
}

.section-head{
    font-size: 36px;
    font-weight: bold;
}

.section-subHead{
    font-size: 18px;
}

.section-desc{
    font-size: 18px;
    font-weight: normal;
}

.box-section{

    &:hover{
        background-color: #FA815B;
        .box-icons{
            svg{
                color: #FFFFFF;
            }    
        }
        
        .box-heading{
            color: #FFFFFF;
        }
        .box-desc{
            color: #FFFFFF;
        }
        .readMore{
            a{
                color: #FFFFFF;
            }
            
        }
    }
    .box-heading{
        font-weight: bold;
        font-size: 24px;
        color: #FA815B;
    }
    .box-desc{
        color: black;
    }
    .box-icons{
        svg{
            color: #FA815B; 
        }    
    }
    .readMore{
        font-size: 14px;
        a{
        color: #FA815B;
        text-decoration: underline;
        &:hover{
            color: #FFFFFF;
            text-decoration: none;
        }
        }
        
    }
}

.testi-bg{
    background: url("../images/testimonial.jpg") center bottom no-repeat;
    min-height: 500px;
}
.testi-content{
    background-color: #FAB89D;
    background-image: url("../images/quote.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.testiCircle{
    height: 120px;
    width: 120px;
    background-color: #333333;
    border: 2px solid white;
    img{
        border-radius: 100px;
    }
}

.testimonial{
    font-size: 16px;
    line-height: 24px;
    color: black;
    min-height: 120px;
}
.testiName{
    font-size: 18px;
    font-weight: bold;
}
.testiLocation{
    font-size: 18px;
    font-weight: normal;
}

.capabilities{
    background-color: #F3F3F3;
}

.footer-logo{
    img{
        width: 70%;
    }
}

.address{
    h4{
        font-size: 24px;
        color: #FA815B;
        font-weight: bold;
    }
    address{
        color: #FFFFFF;
    }
}

.important-links{
    h4{
        font-size: 24px;
        color: #FA815B;
        font-weight: bold;
    }
    ul{
        margin: 0;
        padding: 0;
        li{
            list-style: none;
            line-height: 36px;
            a{
                color: #FFFFFF;
                text-decoration: none;
                &:hover{text-decoration: underline;}
            }
        }
    }
}

.journey{
    h4{
        font-size: 24px;
        color: #FA815B;
        font-weight: bold;
    }
    .btn-danger{
        color: #FFFFFF;
        background-color: #FA815B;
        border-color: #FA815B;
        &:hover{
            background-color: #cf4a22;
            border-color: #cf4a22;
        }
    }
}

.contactBtn{
    .btn-danger{
        color: #FFFFFF;
        background-color: #FA815B;
        border-color: #FA815B;
        &:hover{
            background-color: #cf4a22;
            border-color: #cf4a22;
        }
    }
}

.questionDiv{
    background-color: #ffd5ad;
    border-bottom: 1px solid #FFFFFF;
    cursor: pointer;
}
.answerDiv{
    background-color: #ffe7d0;
}

.banner-heading{
    font-size: 36px;
    color: #FA815B;
    font-weight: bold;
    .banner-desc{
        font-size: 18px;
        color: #333333;
    }
}
.sketch{
    background: url("../images/sketch.png") no-repeat right center;
    background-size: auto 90%;
    border-top-right-radius: 12px;
    background-color: #EE632A;
    
    .step1{
        font-size: 200px;
        font-weight: bold;
        color: white;
        opacity: .6;
        line-height: 200px;
        display: inline-block;
    }
    .step1name{
        font-size: 36px;
        font-weight: bold;
        color: white;
        opacity: .6;
        display: inline-block;
    }
}

.sneak{
    background: url("../images/sneak.png") no-repeat right center;
    background-size: auto 90%;
    border-top-right-radius: 12px;
    background-color: #B65C09;
    
    .step2{
        font-size: 200px;
        font-weight: bold;
        color: white;
        opacity: .6;
        line-height: 200px;
        display: inline-block;
    }
    .step2name{
        font-size: 36px;
        font-weight: bold;
        color: white;
        opacity: .6;
        display: inline-block;
    }
}

.knock{
    background: url("../images/knock.png") no-repeat right center;
    background-size: auto 100%;
    border-top-right-radius: 12px;
    background-color: #E69371;
    
    .step3{
        font-size: 200px;
        font-weight: bold;
        color: white;
        opacity: .6;
        line-height: 200px;
        display: inline-block;
    }
    .step3name{
        font-size: 36px;
        font-weight: bold;
        color: white;
        opacity: .6;
        display: inline-block;
    }
}


.bg-orange{
    background-color: #FAB89D;
}

.form-head{
    font-size: 28px;
    font-weight: bold;
    color:  #FA815B;
}
.form-content{
    font-size: 18px;
    color: #333333;
}
.form-feild{
    height:50px;
    display: inline;
    input[type="text"]{
        height: 48px;
        padding: 0 16px;
        box-sizing: border-box;
        border-radius: 8px;
        border:1px solid #C2C2C2;
        width: 400px;
        outline-color: #FA815B;
    }

    input[type="file"]{
        height: 48px;
        padding: 0 16px;
        box-sizing: border-box;
        border-radius: 8px;
        width: 400px;
    }

    select{
        height: 48px;
        box-sizing: border-box;
        border-radius: 8px;
        border:1px solid #C2C2C2;
        width: 400px;
        padding: 0 20px;
        outline-color: #FA815B;
    }

    label{
        clear: both;
        display: block;
        margin-bottom: 10px;
    }

    #ageError{
        clear: left;
        font-size: 12px;
        color: red;
        display: block;
    }
}

.form-feild1{
    height:50px;
    display: inline;
    input[type="text"]{
        height: 48px;
        padding: 0 16px;
        box-sizing: border-box;
        border-radius: 8px;
        border:1px solid #C2C2C2;
        width: 90%;
        outline-color: #FA815B;
    }

    input[type="file"]{
        height: 48px;
        padding: 0 16px;
        box-sizing: border-box;
        border-radius: 8px;
        width: 90%;
    }

    select{
        height: 48px;
        box-sizing: border-box;
        border-radius: 8px;
        border:1px solid #C2C2C2;
        width: 90%;
        padding: 0 20px;
        outline-color: #FA815B;
    }

    textarea{
        border:1px solid #C2C2C2;
        padding: 10px 20px;
        outline-color: #FA815B;
        border-radius: 8px;
        width: 90%;
        height: 100px;
    }

    label{
        clear: both;
        display: block;
        margin-bottom: 10px;
    }

    #ageError{
        clear: left;
        font-size: 12px;
        color: red;
        display: block;
    }
}


.submitContainer{
    .submit, .reset{
        background-color: #FA815B;
        color: white;
        font-size: 18px;
        outline: none;
        border: none;
        border-radius: 8px;
        padding: 16px;
        margin-right: 16px;
    }
}

.border-radius{border-radius: 12px;}

.dropdown-menu{    
        li{
        padding: 8px 0;
        border-bottom: 1px solid #FFFFFF;
        a{color:#FA815B;}
        a:hover{background-color: unset;}
        &:last-child{
            border-bottom: none;
        }
        &:hover{
            background-color: #FA815B;
            color: #FFFFFF;
            a{color: #FFFFFF;}
        }

        }
  
}

.faqRow{
    .accordion-button:not(.collapsed) {
       
        color: #FA815B;
        font-weight: bold;
        background-color: #ffeae3;
    }

    .accordion-button:focus {
        border-color: #FA815B !important;
        box-shadow: 0 0 0 0.25rem #f5704850;
    }
}

.occasionOther{
    clear: both;
    float: none;
    display: block;
    margin-top: 20px;
}

.colorOther{
    display: block;
    margin-top: 20px;
}
.quantityOther{
    display: block;
    margin-top: 20px;
}

.copyright{
    span{font-size: 13.75px;}
}

.chart{
    color:  #FA815B;
    &:hover{
        color: #000000;
    }
}

.astric{color:  #FA815B;}


.mt-6{
    margin-top: 4rem !important;
}
.mt-7{
    margin-top: 5rem !important;
}
.mt-8{
    margin-top: 6rem !important;
}

.p-6{
    padding: 4rem !important;
}

.pt-6{
    padding-top: 4rem !important;
}

.pt-7{
    padding-top: 5rem !important;
}

.pt-8{
    padding-top: 6rem !important;
}
.pb-6{
    padding-bottom: 4rem !important;
}

.pb-7{
    padding-bottom: 5rem !important;
}

.pb-8{
    padding-bottom: 6rem !important;
}




@media only screen and (max-width: 576px) {

   

    .testi-bg{
        min-height: 350px;
        background-size: 100%;
    }
    .logo{max-height: 60px !important;}
    .pt-8{
        padding-top: 4rem !important;
    }
    .pb-8{
        padding-bottom: 4rem !important;
    }
    .p-6{
        padding: 1.5rem !important;
    }
    .banner-heading{
        font-size: 28px;
    }
    .banner-desc{
        margin-bottom: 48px;
    }

    .section-head{
        font-size: 28px;
    }

    .designStudio{
        .p-5{padding: 1rem !important;}
        .form-head{
            font-size: 20px;
        }
        .form-content{font-size: 16px;}
        .form-feild{
            select, input[type="text"], input[type="file"]{width: 100%;}
            
        }
        .submitContainer{
            .submit, .reset{font-size: 16px; padding: 12px;}
        }
    }

    .contactBtn{
        margin-bottom: 48px;
    }
    .faq-row{
        .p-5{
            padding: 1rem !important;
        }
    }

    .contactContainer{
        .p-5{
            padding: 1rem !important;
        }
        .mt-5{
            margin-top: 1rem !important;
        }
        .col-md-7{
            margin-top: 48px;
        }
        .emailField{
            margin-top: 1.5rem;
        }
    }
    
}